@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
            </div>
            <div class="col-md-4">
              <div class="row">
                    <p><a class="btn btn-default" href="/Home/addbook">Add Book To Inventory</a></p>
                </div>
                <div class="row">
                    <p><a class="btn btn-default" href="/Home/showbooklist">Show The List Of Books</a></p>
                </div>
                <div class="row">
                    <p><a class="btn btn-default" href="/Home/addbook">Modify The List</a></p>
                </div>


            </div>
            <div class="col-md-4">
                
            </div>

        </div>
    </div>
</div>
